<template>
<div class="footer container-fluid w-100 px-0 px-md-6">
    <TheNavbarMobile mySidebarId="footerNavbar" mySidebarSearchId="footerNavbarSearch" title="" fontColor="white" backgroundColor="#280071" iconsColor="white" />
    <div class="logo-container d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="icon6" />
        </div>
    </div>
    <div class="row pt-5 px-2 px-md-6">
        <div class="first column col-12">
            <div class="d-flex px-2 d-flex flex-column">
                <p class="help m-0">¿Necesitas ayuda?</p>
                <p class="help m-0"> Comunicate con nosotros</p>
            </div>
            <div class="opciones d-flex pt-2">
                <div class=" d-flex flex-column px-2 px-sm-4">
                    <div class=" d-flex py-2">
                        <a href="/#page_2">
                            Carreras
                        </a>
                    </div>
                    <div class=" d-flex py-2">
                         <a href="/#page_4">Beneficios</a>
                    </div>
                    <div class=" d-flex  py-2">
                        <a href="/donaciones/#comoFunciona">
                            <p class="m-0">¿Como</p>
                            <p class="m-0"> Funciona?</p>
                        </a>
                    </div>
                </div>
                <div class=" d-flex flex-column px-2 px-sm-4">
                    <div class=" d-flex  py-2">
                         <a href="/donaciones">Historia</a>
                    </div>
                    <div class=" d-flex  py-2">
                        <a href="/nosotros/#ourPhilosophy">
                        Filosofía
                        </a>
                    </div>
                    <div class=" d-flex  py-2">
                       <a href="/nosotros/#ourTeam">Nuestro Equipo</a>
                    </div>
                </div>
                <div class=" d-flex flex-column px-2 px-sm-4">
                    <div class=" d-flex  py-2">
                         <a href="/#page_7">Noticias</a>
                    </div>
                    <div class=" d-flex  py-2">
                        <a href="/donaciones">Donaciones</a>
                    </div>
                    <div>
                        <a href="/#page_5">Testimonios</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mail-content d-flex h-100 w-100 justify-content-center">
            <div class="d-flex flex-column justify-content-center h-100">
                <span class="">informes@idem.com.pe </span>
            </div>
        </div>
        <div class="d-flex h-100 w-100 justify-content-center">
            <span class="metodos">Métodos de pago</span>
        </div>
        <div class="d-flex justify-content-center pt-2 w-100">
            <div class="d-flex px-2">
                <div class="d-flex justify-content-center">
                    <div class="icon1 " />
                </div>
            </div>
            <div class="d-flex justify-content-center  px-2">
                <div class="d-flex justify-content-center">
                    <div class="icon2 " />
                </div>
            </div>
            <div class="d-flex justify-content-center  px-2">
                <div class="d-flex justify-content-center">
                    <div class="icon3 " />
                </div>
            </div>
            <div class="d-flex justify-content-center  px-2">
                <div class="d-flex justify-content-center">
                    <div class="icon4 " />
                </div>
            </div>
        </div>
    </div>
    <div class="text2 column justify-content-center pt-4 ">
        <a class="terminos d-flex justify-content-center" href="#">
            <u>Terminos y condiciones</u>
        </a>
    </div>
    <div class="derechos w-100 d-flex justify-content-center">
        <div class="d-flex justify-content-centeR py-4">
            <span class="derechos">@2019 - IDEM Derechos Reservados</span>
        </div>
    </div>
    <!--
    <div class="row px-6 py-4">
      <div class="column col-7">
        <div class="row">
          <div class="column col-6 d-flex  px-2 py-4">¿Necesitas ayuda? Comunicate con nosotros</div>
          <div class="column col-6 d-flex justify-content-start px-5 py-3">
            <div class="d-flex justify-content-center h-100">
              <div class="d-flex flex-column justify-content-center h-100">
                <span class="px-2">informes@idem.com.pe </span>
              </div>
            </div>
            <div class="d-flex justify-content-center h-100">
              <div class="d-flex flex-column justify-content-center h-100 p-2">
                <div class="icon5 "/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="column col-3 d-flex flex-column  px-4">
              <div class="column d-flex py-2">Carreras</div>
              <div class="column d-flex py-2">Beneficios</div>
              <div class="column d-flex  py-2">¿Como funciona?</div>
              <div class="column d-flex  py-2">Testimonios</div>
              <div class="column d-flex  py-2">Noticias</div>
            </div>
            <div class="column col-3 d-flex flex-column px-4 ">
              <div class="column d-flex py-2">Historía</div>
              <div class="column d-flex py-2">Fílosofia</div>
              <div class="column d-flex  py-2">Nuestro Equipo</div>
              <div class="column d-flex  py-2">Docentes</div>
              <div class="column d-flex  py-2">Donaciones</div>
            </div>
            <div class="column col-6 px-6 py-3">
              <div class="row">Métodos de pago</div>
              <div class="row">
                <div class="column col-3 d-flex justify-content-center p-3">
                  <div class="d-flex justify-content-center p-2">
                    <div class="icon1 "/>
                  </div>
                </div>
                <div class="column col-3 d-flex justify-content-center p-3">
                  <div class="d-flex justify-content-center p-2">
                    <div class="icon2 "/>
                  </div>
                </div>
                <div class="column col-3 d-flex justify-content-center p-3">
                  <div class="d-flex justify-content-center p-2">
                    <div class="icon3 "/>
                  </div>
                </div>
                <div class="column col-3 d-flex justify-content-center p-3">
                  <div class="d-flex justify-content-center p-2">
                    <div class="icon4 "/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="text2 column justify-content-end"> <a
                  class="text2"
                  href="#">Terminos y condiciones</a></div>
                <br><br><br><br>
                <div class="column justify-content-center">2018 Idem derechos reservados</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column col-4">
        <div class="d-flex flex-column justify-content-center h-100 w-100">
          <div class="d-flex justify-content-center">
            <div class="icon6"/>
          </div>
        </div>
      </div>
</div>-->
</div>
</template>

<script>
export default {
    components: {},
}
</script>

<style lang="scss" scoped>
@import 'assets/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';
$mm:375px;
$ml:425px;
$ds:768px;
$dm:1024px;
$r:1440px;
$ds2:896px;
$dm2:1232px;
$r2:2000px;


.footer {
    background-color: $color-primary;
    font-family: FABRIK;
    padding-top: 20vh;
    position: relative;
    color: white;
    font-size: 14px;
a{
      color: white;
    text-decoration: none;
}
    .help {
        font-size: 12px;
        text-decoration: none;
        line-height: 14px;
        color: inherit;

        @media screen and (min-width: $mm) {
            font-size: 14px;
            line-height: 16px;
        }

        @media screen and (min-width: $ml) {
            font-size: 25px;
            line-height: 30px;
        }
    }

    .metodos {
        font-size: 12px;
        text-decoration: none;
        line-height: 14px;
        color: inherit;

        @media screen and (min-width: $mm) {
            font-size: 14px;
            line-height: 16px;
        }

        @media screen and (min-width: $ml) {
            font-size: 16px;
            line-height: 24px;
        }

        @media screen and (min-width: 550px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .link {
        font-size: 12px;
        text-decoration: none;
        line-height: 14px;
        color: inherit;

        @media screen and (min-width: $mm) {
            font-size: 14px;
            line-height: 16px;
        }

        @media screen and (min-width: $ml) {
            font-size: 16px;
            line-height: 24px;
        }

        @media screen and (min-width: 550px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .mail-content {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 12px;
        text-decoration: none;
        line-height: 14px;
        color: inherit;

        @media screen and (min-width: $mm) {
            font-size: 14px;
            line-height: 16px;
        }

        @media screen and (min-width: $ml) {
            font-size: 16px;
            line-height: 24px;
        }

        @media screen and (min-width: 550px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .logo-container {
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
        z-index: 500;
    }

    .icon1 {
        height: 40px;
        width: 40px;
        background-image: url(/Footer/Visa.png);
        background-size: cover;
    }

    .icon2 {
        height: 40px;
        width: 40px;
        background-image: url(/Footer/American.png);
        background-size: cover;
    }

    .icon3 {
        height: 40px;
        width: 40px;
        background-image: url(/Footer/Diners.png);
        background-size: cover;
    }

    .icon4 {
        height: 40px;
        width: 40px;
        background-image: url(/Footer/PayPal.png);
        background-size: cover;
    }

    .icon5 {
        height: 20px;
        width: 20px;
        background-image: url(/Footer/Carta.png);
        background-size: cover;
    }

    .icon6 {
        height: 40px;
        width: 40px;
        background-image: url(/LogoBlanco.png);
        background-size: cover;

        @media screen and (min-width: $ml) {
            height: 60px;
            width: 60px;
        }

        @media screen and (min-width: 550px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .text2 {
        color: white;
        text-decoration: none;
    }

    .correo,
    .terminos,
    .opciones,
    .derechos,
    .help,
    .metodos,
    .mail-content {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 100;
    }

    .terminos {
        font-size: 12px;
        text-decoration: none;
        line-height: 14px;
        color: inherit;

        @media screen and (min-width: $mm) {
            font-size: 14px;
            line-height: 16px;
        }

        @media screen and (min-width: $ml) {
            font-size: 16px;
            line-height: 24px;
        }

        @media screen and (min-width: 550px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .derechos {
        letter-spacing: 1px;
        opacity: 0.8;
        font-size: 12px;
        text-decoration: none;
        line-height: 14px;
        color: inherit;

        @media screen and (min-width: $mm) {
            font-size: 14px;
            line-height: 16px;
        }

        @media screen and (min-width: $ml) {
            font-size: 16px;
            line-height: 24px;
        }

        @media screen and (min-width: 550px) {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
</style>
